<h1>Login</h1>
<form action="" id="formLogin">
  <label for="input_email">email</label> <input id="input_email_login" type="email" placeholder="email"><br>
  <label for="input_password">password</label> <input id="input_password_login" type="password" placeholder="password"><br>
  <button type="submit">Enviar</button>
</form>


<h1>Lista de usuarios</h1>
          <ul>
            {{#each usuario}}
            <li>{{this}}</li>
            {{/each}}
          </ul>



<script src="/js/login.js"></script>