{{producto}}
<br><br><br>

<h3>Agregar al carrito</h3>
<p>ingrese el CID (_id) del carrito deseado : </p><input id="input_agregar_carrito" type="text"> <button id="btn_agregar_carrito" >Agregar al carrito</button>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/indexProductSelected.js"></script>