<h1>Tu perfil (sin datos sensibles)</h1>
<p>Nombre completo: </p>
<p>Correo electronico: </p>
<p>Edad: </p>
<form id="formLogout">
  <button type="submit">Logout</button>
</form>

<p>Volver a página principal </p> 
    
    <button onclick="volver()">Volver</button>




<script>
function volver() {
        window.location = `http://localhost:8080/api/sessions`
    
  }
</script>


{{!-- <script src="/js/indexProfile.js"></script> --}}